*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: #132440;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.name{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin: 0px;
}
.container{
    max-width: 500px;
    
    background-color:#FAF8F1 ;
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;

    
}
p {
     font-family: "Kantumruy Pro", sans-serif;
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  padding: 5px;
    
}

.title {
    display: flex;
     font-family: "Kantumruy Pro", sans-serif;
    font-size: 20px;
  font-weight: bold;
  font-style: normal;
  padding: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
    
}
.title p{font-family: "Kantumruy Pro", sans-serif;
    font-size: 12px;
  font-weight: bold;
  font-style: normal;
  padding: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;

}
.input-group{
    font-size: 12px;
        font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: left;
}
.input-group input{

    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
margin: 0px;
}
.input-group input:focus{
    border-color: #3C467B;
    box-shadow: 0 0 6px #567bc6;
    outline: none;
}
button{
    background-color: #3C467B;
    color: #f8f5f5;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;

    border: none;
    font-size: 12px;
    font-family: "Kantumruy Pro", sans-serif;
     font-weight: 500;
     font-style: normal;
    cursor: pointer;
    margin-top: 10px;
      margin-bottom: 5px;
    
}
button:hover{
        background-color: #424a71;
}
button:active{
     background-color: #848cb8;
}
.log-in{
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in a{
    text-decoration: none;
    color: #3C467B;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  padding: 5px;
    
}
.log-in a:hover {
color: #8405e5;}
.log-in a:active{
    color: #848cb8;}
img {
    width: 30px;
    height: auto;



}